---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { WORK } from "@consts";
import WorkSection from "@components/WorkSection.astro";
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold text-black dark:text-white">Work</h1>
      <WorkSection contenttType="details" />
    </div>
  </Container>
</PageLayout>
